
@{
    ViewBag.Title = "LHLDownloadMusic";
}

<h2>LHL_DownLoadMusic</h2>
<audio controls>
    <source src="https://on.soundcloud.com/VXSQaUSADaxoTPGSA" type="audio/mp4">
</audio>
<a href="https://on.soundcloud.com/VXSQaUSADaxoTPGSA">DownLoad</a>


